<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="./" class="navbar-brand">Classificados</a>
			</div>
			<ul class="nav navbar-nav navbar-right" th:if="${usuarioLogado != null}">
				<li><a href="#" th:text="${usuarioLogado}"></a></li>
				<li><a href="/logout">Sair</a></li>
			</ul>	
			<ul class="nav navbar-nav navbar-right" th:if="${#strings.isEmpty(usuarioLogado)}">
				<li><a href="/login">Login</a></li>
			</ul>	
		</div>	
	</nav>
	
	<div class="container">
		<h1>Cadastro</h1>
		<div class="alert alert-warning" th:each = "mensagem: ${msg}">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span th:text="${mensagem}"></span>
		</div>
		
		<div class="alert alert-warning" th:each = "mensagem: ${msgRecuperar}">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span th:text="${mensagem}   "></span><a class="alert-linkhref=" href="recuperarsenha">Esqueceu a senha ?</a>
		</div>
		
		<div class="alert alert-success" th:each = "mensagem: ${msgSuccess}">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span th:text="${mensagem}"><br/>
			</span><a class="alert-linkhref=" href="/login">Faça o login agora</a>
		</div>
			
		<form method="post" th:action="@{/cadastrar}" th:object="${usuarioobj}">
			<div class="form-group">
				<label for="nome">Nome:</label>
				<input type="text" name="nome" id="nome" class="form-control" th:field="*{nome}"/>
			</div>
			<div class="form-group">
				<label for="email">E-mail:</label>
				<input type="email" name="email" id="email" class="form-control" th:field="*{email}"/>
			</div>
			<div class="form-group">
				<label for="senha">Senha:</label>
				<input type="password" name="senha" id="senha" class="form-control" th:field="*{senha}"/>
			</div>
			<div class="form-group">
				<label for="telefone">Telefone:</label>
				<input type="tel" name="telefone" id="telefone" class="form-control  js-decimal" th:field="*{telefone}" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"/>
			</div>
			<input type="submit" value="Cadastrar" class="btn btn-primary"/>
			<a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
		</form>
		
	</div>


<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>	
<script type="text/javascript" src="/js/jquery.mask.min.js"/></script>
<script type="text/javascript">$("#telefone").mask("(00) 0000-00009");</script>
</body>
</html>